section.section
    p This is section
    .logo-png
        img.logo1(src=require('../../images/image.png?as=webp') alt='#')
    .logo-svg
        img.logo2(src=require('../../images/logo.svg'), alt='#')