@mixin font-face($family, $file, $weight: 400, $style: normal) {
    @font-face {
        font-family: $family;
        src: url('./fonts/' + $file + '.eot');
        src: url('./fonts/' + $file + '.eot?#iefix') format('embedded-opentype'),
        url('./fonts/' + $file + '.woff2') format('woff2'),
        url('./fonts/' + $file + '.woff') format('woff'),
        url('./fonts/' + $file + '.ttf') format('truetype'),
        url('./fonts/' + $file + '.svg##{file}') format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}